@font-face {
	font-family: Avenir;
	src: url(../fonts/avenir.woff);
}

* {
	transition-delay: .1s;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

html, body {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	font: inherit;
	display: table;
	vertical-align: baseline;
	font-family: Avenir, sans-serif !important;
}

div.main {
	width: 100%;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
	margin: 0 0 0.75em 0;
}

h1 {
	font-size: 32px;
	margin: 0 0 0.525em 0;
	text-decoration: none;
}

p {
	font-size: 20px;
	margin: 0 0 1.5em 0;
}

header {
	height: 128px;
	padding: 16px;
	margin-bottom: 186px;
	background-color: #009688;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

img {
	max-width: 207px;
	min-width: 207px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

ul {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: -0.675em;
}

ul li {
	display: inline-block;
	padding: 0.657em 0.5em;
}

ul li a {
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	display: block;
	width: 3.75em;
	height: 3.75em;
	border-radius: 100%;
	border: solid 1px #060606;
	line-height: 3.75em;
	overflow: hidden;
	text-align: center;
	text-indent: 3.75em;
	white-space: nowrap;
}

ul li a:before {
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

ul li a:before {
	color: #060606;
}

ul li a:hover:before {
	color: #FFC107;

}

ul li a:before {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	font-size: 1.85rem;
	padding-top: 25%;
	line-height: 100%;
	text-align: center;
	text-indent: 0;
}

ul li a:hover {
	border-color: #FFC107;
}

.fa-android {
	color: #4CAF50;
}